<br />
<h2>Editing Friend</h2>

<%= render 'form', friend: @friend %>

<br />
<%= link_to 'Show', @friend, class: "uk-button uk-button-primary" %> 
<%= link_to 'Back', friends_path, class: "uk-button uk-button-secondary" %>

