<div class="uk-container">
<nav class="uk-navbar-container" uk-navbar="boundary-align: true; align: center;">
    <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
    <li>
    <%= link_to 'Twonk App', root_path, class:"uk-navbar-item" %>
      </li>
         <li>
            <%= link_to 'About', home_about_path, class:"uk-navbar-item" %>
               
            </li>
            <li>
            <%= link_to 'Twonkers', friends_path, class:"uk-navbar-item" %>
               
            </li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
            <form class="uk-search uk-search-default">
    <span uk-search-icon></span>
    <input class="uk-search-input" type="search" placeholder="Search Twonkers">
</form>
            
             
     </li>
        </ul>
    </div>
</nav>
</div>

