// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.uk-button-default {
background-color: rgb(48, 180, 48);
color: white;
}
.uk-button-default:hover,
.uk-button-default:focus {
background-color: rgb(38, 165, 38);
color: white;
}
.uk-button-custom {
background-color: #c54ab5;
padding-top:1px;
padding-bottom:1px;
color: white;
}
.uk-button-custom:hover,
.uk-button-custom:focus {
background-color:  #bb3faa;
color: white;
}
.actions input {
background-color: rgb(48, 180, 48);
color:white;
border:none;
}

