// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.uk-navbar-container {
background-color: #030420!important;
padding-left: 30px;
padding-right: 30px;
}
a.uk-navbar-item {
color: lightgray!important;
}
a.uk-navbar-item:hover,
a.uk-navbar-item:focus {
color:gray!important;
}
input.uk-search-input {
border-color: gray!important;
}
.tm-footer {
    padding-top:25px;
background-color: #030420!important;

}
